@import "./helper/helper.scss";
@import "./variables/variable.scss";

.password {
  @include flex(center, space-between, no-wrap, 100%, row, 0rem);
  width: 100%;
  padding: 1rem 0rem;
  border: 1px solid #ccc;
  border-radius: 4px;

  input {
    flex: 1;
    outline: none;
    border: none;
    padding: 0rem;
  }
  input::placeholder {
    padding-right: 0.5rem;
    padding-left: 1rem;
  }
  button {
    color: $brandColor;
    background-color: transparent;
    margin: 0rem;
    padding: 0rem 0.5rem;
    font-weight: 600;
    outline: none;
    cursor: pointer;
    border: none;
  }
}
