@import "./helper/helper.scss";
@import "./variables/variable.scss";

.spinner {
  @include flex(center, center, no-wrap, 100%, column, 1rem);
  height: 100vh;
  .spin-icon {
    color: $brandColor;
    font-size: 26px;
    animation: spin 1s linear infinite;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
