@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap");

@font-face {
  font-family: "AvenirRegular";
  src: local("CustomFont1Name"),
    url("./fonts/AvenirNextLTPro-Regular.otf") format("woff2");
}

@font-face {
  font-family: "AvenirBold";
  src: local("CustomFont1Name"),
    url("./fonts/AvenirNextLTPro-Bold.otf") format("woff");
}

body {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 2px;
  height: 0px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  /* border-radius: 10px; */
  height: 3px;
  width: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  margin: 40rem 0;
}
h1,
button,
p {
  margin: 0rem;
}

.logo {
  width: 150px;
  margin-right: 6rem;
}
.logo-img {
  width: 100%;
  /* height: 50px; */
  /* object-fit: cover; */
}

@media screen and (max-width: 640px) {
  .logo {
    /* width: 300px; */
    margin: 0rem;
  }
  .logo img {
    width: 100%;
    /* height: 40px; */
    /* object-fit: contain; */
  }
}
